/* Main CSS*/
html
{
  box-sizing: border-box;
}



*,*::before,*::after
{
  box-sizing: inherit;
  clear:both;
  color: white;
  /*border:1px solid;*/
}


body
{
  font-size: 100%;
  background-color: #253240;
  margin:0px;
  padding:0px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/* Other CSS*/
.container:before
{
  content: "";
  clear: both;
  display: table;
}


.container
{
  max-width:100%;
}


.header
{
  display:flex;
  width:90%;
  height:5.625em;
  background-color: #1b2634;
  -webkit-box-shadow: -1px 10px 7px -6px rgba(0,0,0,0.2);
  -moz-box-shadow: -1px 10px 7px -6px rgba(0,0,0,0.2);
  box-shadow: -1px 10px 7px -6px rgba(0,0,0,0.2);
  margin:auto;
  margin-top: 2em;
  border-radius: 5em;
}
.sticky{
  position: sticky;
  position: -webkit sticky;
}

.logo
{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  width:10%;
  margin:0em 2em;
}

.logo>h1
{
  color:#fff;
  font-family:inherit;
  font-size:2.2em;
  text-decoration: unset;
}

.logo>h1>a
{
  text-decoration: unset;
}

span.dot
{
  color:red;
  font-size: 1em;
}

.search
{
  display:flex;
  flex-direction:row;
  width:70%;
  padding:2.35em 0em;
  margin-left: 2rem;
}



.searchbar
{
    background-color: transparent;
    color: white;
    padding: 0.4em 0.625em;
    border: none;
    font-family: inherit;
    font-size: 1em;
    font-weight: bold;
    transition: 0.3s;
    width:100%;
    height:1.3em;
}

.searchbar::placeholder
{
    color: #3a4553;
    font-size: 1em;
    font-weight: bold;
    /* transition: 0.2s; */
}

.searchbar:focus
{
    font-size: 1em;
    font-weight: bold;
    transition: 0.3s;
    /* Stops the input box from inheriting the styling from the inputs on the request form */
    outline: none;
}



.account
{
  width:20%;
  display:flex;
  flex-direction: row;
  border-left:1px solid #384352;
}
.authorAvatar
{
  display:flex;
  padding:1.2em 0em;
  margin-right: 1em;
}

.authorAvatar>img
{
  margin:0em 1em;
  border:0.1875em solid red;
  border-radius: 50%;
  background-color: #384352;
  float:right;
  box-shadow: 0 0 0.625em #ff0100;
}


.authorName
{
  font-size: 0.85em;
  margin-top: 2.1em;
  padding:0;
  text-align: right;
  list-style: none;
  text-decoration-style: none;
  width: 100%;
  color:#fff;
}


.authorName>li:first-child
{
  color:#717e87;
}
.authorName>li:last-child
{
  color:#c9d3da
}

.title-header
{
    max-width: 1200px
    width:100%;
    margin-top: 6.25rem;
    padding:0 6rem;
    font-weight: lighter;
}

div>h2{
    color:#4c5a65;
    font-size: 1.2em;
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
}


div>h2:after {
    content: '';
    border-top: 0.0325em solid #4c5a65;;
    margin: 0 1.25rem 0 0;
    flex: 1 0 1.25rem;

}

div>h2:after {
    margin: 0 0 0 1.25rem;
}



section
{
    margin:0 6em;
}

section > div
{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

section > ul
{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: -1rem;
    margin-right: -1rem;
}

section > ul > li
{
    width: 20%;
    list-style: none;

}

section > ul > li > article > a
{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: unset;
    padding: 1rem;
}

div.aspect-ratio
{
    height: 0;
    overflow: hidden;
    padding-top: 177%;
    background: white;
    position: relative;
}

div.aspect-ratio > img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Mediaquery*/
@media screen and max-width(768px){
  section > ul > li{
    width: 33.333%;
    list-style: none;
  }
}
