/* Main CSS*/
html{
  box-sizing: border-box;
}



*,*::before,*::after{
  box-sizing: inherit;
  clear:both;
  /*border:1px solid;*/
}


body{
  font-size: 100%;
  background-color: #253240;
  margin:0px;
  padding:0px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/* Other CSS*/
.container:before{
  content: "";
  clear: both;
  display: table;
}


.container{
  max-width:100%;
}

.header{
  display:flex;
  width:100%;
  height:5.625em;
  background-color: #1b2634;
  -webkit-box-shadow: -1px 10px 7px -6px rgba(0,0,0,0.2);
  -moz-box-shadow: -1px 10px 7px -6px rgba(0,0,0,0.2);
  box-shadow: -1px 10px 7px -6px rgba(0,0,0,0.2);
}

.logo{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  width:10%;
  padding:0em 2em;
}

.logo>h1{
  color:#fff;
  font-family:inherit;
  font-size:2.2em;
}

span.dot{
  color:red;
  font-size: 1em;
}

.search{
  display:flex;
  flex-direction:row;
  width:70%;
  padding:2.35em;
}



.searchbar {
    background-color: transparent;
    color: white;
    padding: 0.4em 0.625em;
    border: none;
    font-family: inherit;
    font-size: 1em;
    font-weight: bold;
    transition: 0.3s;
    width:100%;
    height:1.3em;
}

.searchbar::placeholder {
    color: #3a4553;
    font-size: 1em;
    font-weight: bold;
    /* transition: 0.2s; */
}

.searchbar:focus {
    font-size: 1em;
    font-weight: bold;
    transition: 0.3s;
    /* Stops the input box from inheriting the styling from the inputs on the request form */
    outline: none;
}



.account{
  width:20%;
  display:flex;
  flex-direction: row;
}


.authorAvatar{
  display: block;
  padding:1.2em 0em;
  border-left:1px solid #384352;
}

.authorAvatar>img{
  border:3px solid red;
  border-radius: 50%;
  background-color: #384352;
  float:right;
}

.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;

}
.hello{
  display:inline-block;
}
