<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Movie</title>
        <style require="/templates/main.style"></style>
        <style require="/templates/movie.style"></style>
        <script src="/data/dom.js" instance></script>
        <style>
            main
            {
                width: 85%;
                margin: 0 auto;
                margin-top: 96px!important;
                background: #1b2634;
                padding-top: 0!important;
                box-shadow: 0px 0px 16px rgba(0,0,0,0.4);
            }
        </style>
    </head>
    <body itemscope itemtype="https://schema.org/WebPage">
    <meta itemprop="accessibilityControl" content="fullKeyboardControl" />
    <meta itemprop="accessibilityControl" content="fullMouseControl" />
    <meta itemprop="accessibilityHazard" content="noFlashingHazard" />
    <meta itemprop="accessibilityHazard" content="noMotionSimulationHazard" />
    <meta itemprop="accessibilityHazard" content="noSoundHazard" />
    <meta itemprop="accessibilityAPI" content="ARIA" />
    <Header />
    <main>
      <div class="hero-container">
        <div class="info-container">
          <span class="movie-title">
            <h1 class="film-name">Stranger Things</h1>
          </span>
          <div class="movie-meta">
            <span class="">2016</span>
            <span class="maturity-number">16+</span>
            <span class="">Filmy</span>
            <span class="">Sci-fi</span>
          </div>
          <div class="movie-text">
            <span>Chlapec se ztratí neznámo kde a město začne odhalovat svoje záhady, mezi které patří i tajné experimenty, děsivě nadpřirozené síly a jedna malá podivná holka.</span>
          </div>
          <div class="movie-actors">
            <span class="actors-text"><span class="actor-pretext">Hrají:</span>Winona Ryder,David Harbour,Finn Wolfhard</span>
          </div>
          <div class="movie-scenario">
            <span class="actors-text"><span class="actor-pretext">Scénář:</span>The Duffer Brothers</span>
          </div>
        </div>
        <div class="video-container">
          <video width="100%" controls>
              <source src="https://video.csfd.cz/files/videos/157/716/157716367/160907376_26c99b.mp4" type="video/mp4" />
              Your browser does not support HTML5 video.
          </video>
        </div>
      </div>
      <section class="additional-videos">
      <h1 id="myList">Trending Now</h1>
        <div class="box">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t1.PNG?raw=true" alt="" /></a>
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t2.PNG?raw=true" alt="" /></a>
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t3.PNG?raw=true" alt="" /></a>
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t4.PNG?raw=true" alt="" /></a>
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t5.PNG?raw=true" alt="" /></a>
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t6.PNG?raw=true" alt="" /></a>
        </div>
          </section>







</main>


    <Footer />
    </body>
</html>
